meta(name='description', content=globals.description)
meta(name='robots', content='index,follow')
meta(http-equiv='cache-control', content='cache')
meta(http-equiv='revisit-after', content='1 day')

meta(name='mobile-web-app-capable' content='yes')
meta(name='application-name' content=globals.title)

meta(property='og:title', content=globals.title)
meta(property='og:locale', content='pt_BR')
meta(property='og:type', content='website')
meta(property='og:url', content=globals.homepage)
meta(property='og:image', content=globals.homepage + '/assets/images/share.png')
meta(property='og:image:type', content='image/jpeg')
meta(property='og:image:width', content='800')
meta(property='og:image:height', content='600')
meta(property='og:description', content=globals.description)
meta(property='og:site_name', content=globals.name)
//- meta(property='fb:admins', content='Facebook numeric ID')
meta(itemprop='name', content=globals.name)
meta(itemprop='description', content=globals.description)
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@' + globals.author.twitter)
meta(name='twitter:title', content=globals.title)
meta(name='twitter:description', content=globals.description)
meta(name='twitter:creator', content='@' + globals.author.twitter)
meta(name='twitter:image:src', content=globals.homepage + '/assets/images/share.png')
