- var css = require('./hero-css.json');

section(class=css.hero)
  div(class=css.hero__inner)
    span(class=css.hero__icon)
      img(src=require('../../images/icon.png') alt=globals.title)
    h1(class=css.hero__title)
      =globals.title
    p(class=css.hero__description)
      ='{{ ' + globals.description + ' }}'
    div(class=css.hero__buttons)
      include ../buttons/buttons.pug
    footer(class=css.hero__footer)
      small
        ='Version: v' + globals.version + '. '
        ='developed by '
        a(href=globals.author.site + '?ref=' + globals.homepage target='_blank')
          =globals.author.name
